<div class="layout" [dir]="'dir'| translate">
  <div class="nav navbar-expand-lg navbar-light">
    <div class="container">
      <a href="L" class="navbar-brand text-white">Lang Layout Change</a>
    </div>
    <select name="" id="" (change)="translate($event)">
      <option value="en">English</option>
      <option value="ar">Arabic</option>
    </select>
  </div>
</div>
<div class="container">
  <form action="">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">{{'UserInfo.FirstName' | translate}}</label>
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">{{'UserInfo.LastName' | translate}}</label>
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">{{'UserInfo.EmailAddress' | translate}}</label>
          <input type="text" name="" id="" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="">{{'UserInfo.Address' | translate}}</label>
          <textarea name="" id="" rows="3" class="form-control"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>